@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* default style */
* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}

/* Colors */
:root {
    --color-primary: #C2AB2D;  /* OK */
    --color-secondary: #C9A208;  /* OK */
    --color-background: #F9E79F; /* OK */
    --color-background-form: #ffffff; /* OK */
    --color-text-secondary: #656565; /* OK */
    --color-border: #CDCDCD; /* OK */
    --color-button-text: #FFF; /* OK */
    --color-icon-google: #DB4437; /* OK */
    --color-icon-facebook: #4267B2; /* OK */
    --color-title: #F7F3FA; /* OK */
}

/* Body */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--color-background);
}

/* Container */
.container{
    display: grid;
    grid-template-columns: 4.2fr 5fr 1.1fr; /*Dividir en cuadricula contenedor (3) fr= franciones */
    align-items: center;
    width: 57.25rem;
    height: 31rem;
}

/* Forms Container */
.forms-container{
    height: 100%;
    background-color: var(--color-background-form);
    overflow: hidden; /*Oculta contenido que sobrepase tamaño del contenedor*/
}

.forms{
    transition: transform 0.5s ease; /* Transición para cambiar de formulario*/
}

/* .forms.active aplica el estilo al mismo contenedor (.forms) cuando tiene la clase "active" */
.forms.active{
    transform: translateY(-50%);
}

form{
    padding: 1.8rem; /*Mostrar formulario de registro, ocultando el de Inicio de sesión*/
}

/* Modification to be responsive */
form p{
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--color-text-secondary);
    margin-top: 0.3rem;
    margin-bottom: 1.8rem;
}
form p a{
    color: var(--color-primary);
    font-weight: 600;     /* Mirar funcionamiento */
    margin-left: 4rem;  /* Mirar funcionamiento */
}

/* Input Container */
.input-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.2rem;
}

.input-container input{
    padding: 0.7rem;
    border: 2px solid var(--color-border);
    border-radius: 0.4rem;
    outline: none; /* No agregar borde adicional cuando input tenga el foco*/
}

.input-container label,
.input-container a {
    font-size: 0.8rem;
    font-weight: 600;
}

.input-container a{
    color: var(--color-primary);
}

.input-container .forget{
    display: flex;
    justify-content: space-between;
}

/* Remember me */
.remember-me{
    display: flex;
    gap: 0.8rem;
    margin-bottom: 1.7rem;
}

.remember-me label{
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--color-text-secondary);
}

/* Button */
form button{
    width: 100%;
    padding: 0.9rem 0;
    background-color: var(--color-secondary);
    color: var(--color-button-text);
    font-weight: 500;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 0.3rem;
    cursor: pointer;
}

/* Boton Refister */
form .btn-register{
    margin-top: 1.5rem;
}

/* line-width-text */
.line-width-text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-secondary);
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1.3rem;
}

.line-width-text::before,
.line-width-text::after{
    content: ''; /* Contenido vacio*/
    flex: 1;
    border-bottom: 1px solid var(--color-border);
    margin: 0 0.6rem;
}

/* Other Login */
.other-login{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.other-login a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.65rem;
    font-weight: 700;
    padding: 0.6rem 1.5rem;
    gap: 0.5rem;
    border-radius: 0.4rem;
    text-decoration: none;
}

.other-login img{
    width: 1rem;
}

/* Google */
.other-login .google{
    border: 1px solid var(--color-icon-google);
    color: var(--color-icon-google);
    cursor: pointer;
}

/* Facebook */
.other-login .facebook{
    border: 1px solid var(--color-icon-facebook);
    color: var(--color-icon-facebook);
    cursor: pointer;
}

/* Banner */
.banner{
    height: 100%; /* Posible ERROR en imagen, se desborda */
    padding: 5rem 2rem 0rem 2rem;
    position: relative;
    overflow: hidden; /*Shape no se desbordan del banner*/
    background-color: var(--color-primary);
}

.banner h1{
    color: var(--color-title);
    font-size: 3rem;
    line-height: 0.9; /*Reducir el espacio entre líneas*/
}

.banner h1 span{
    display: block; /*Salto de línea*/
}

.banner p{
    color: var(--color-background-form);
    font-size: 0.8rem;
    margin-top: 1rem;
}

.banner img{
    position: absolute;
    bottom: 2.5rem;
    right: -2rem;
    width: 95%;
}

/* Shapes (decoración de circulos)*/
.shape{
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.2;
    position: absolute;
}

.shape1{
    height: 12.5rem;
    width: 12.5rem;
    left: 20rem;
    top: 1.25rem;
}

.shape2{
    width: 28rem;
    height: 28rem;
    bottom: -10rem;
    right: -10rem;
}

.shape3{
    width: 18rem;
    height: 15rem;
    left: -10rem;
    top: 10.5rem;
}

/* Sidebar */
.sidebar{
    background-color: var(--color-background-form);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    user-select: none; /*No seleccionar texto*/
}

.sidebar::after{
    content: '';
    background-color: var(--color-primary);
    height: 50%;
    width: 0.3rem;
    position: absolute;
    right: 0rem;
    top: 0rem;
    transition: top 0.5s ease;
}

.sidebar.active:after{
    top: 50%;
}

.sidebar .sign{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem; /*Separación entre imagen y texto*/
    cursor: pointer;
}

.sidebar img{
    width: 1.5rem;
}

.sidebar span{
    color: var(--color-text-secondary);
    font-size: 0.8rem;
}

/* Forms animation */
@keyframes slideIn {
    from {opacity: 0; transform: translateX(-100%);}
    to {opacity: 1; transform: translateX(0);}
}

/* Brounce animation, motion effect on screen*/
@keyframes brounce-up{
    0% {transform: translateY(0px);}
    20% {transform: translateY(-7px);}
    40% {transform: translateY(2px);}
    60% {transform: translateY(0px);}
}
@keyframes brounce-down{
    0% {transform: translateY(0px);}
    20% {transform: translateY(7px);}
    40% {transform: translateY(-2px);}
    60% {transform: translateY(0px);}
}


/* Big screens */
@media (max-width: 1024px) {
    .container {
        grid-template-columns: 1fr 1fr; /* Quitar tercera columna */
    }

    .sidebar {
        display: none; /* Ocultar el sidebar*/
    }

    .form-container {
        padding: 2rem;
    }

    .banner {
        padding: 2rem;
    }

    form p a{
        margin-left: 9.5rem;  /* Mirar funcionamiento */
    }
}

/* Check operation (Iniciar sesión) */
@media (max-width: 914px){
    form p a{
        margin-left: 8.5rem;
    }
}

@media (max-width: 882px){
    form p a{
        margin-left: 7rem;
    }
}

@media (max-width: 833px){
    form p a{
        margin-left: 5rem;
    }
}


/*  Midium screens */
@media (max-width: 769px) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 420px;
        background: #fff;
        padding: 2rem 1.5rem;
    }

    .banner {
        display: none; /* oculta el banner para centrarse solo en el formulario */
    }

    /* Form in the box */
    .forms-container {
        width: 100%;
    }

    .forms h2 {
        text-align: center;
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    form p a{
        margin-left: 7rem;  /* Mirar funcionamiento */
    }
}

/*  Small screens */
@media (max-width: 480px) {

    .container {
        background: #fff;
        padding: 1.8rem 0.5rem;
        max-width: 350px;
    }

    form p a{
        margin-left: 1rem;  /* Mirar funcionamiento */
    }
}

@media (max-width: 337px){
    form p a{
        margin-left: 0rem;  /* Mirar funcionamiento */
    } 
}


