@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #C7A17A;
    --background-color: #F9F5F0;
    --dark-color: #151515;
}

html{
    font-size: 62.5%; /* 10px */
    font-family: 'Poppins', sans-serif; /* Si falla uno se utiliza el otro*/
}

*{
    margin: 0rem; /*Por buena practica dar un valor a los 0, rem o px. TENER EN CUENTA*/
    padding: 0rem;
    box-sizing: border-box;
}

/* UTILITIES */

/* center content */
.container{
    max-width: 120rem;
    margin: 0rem auto;
}

/* Titles */
.heading-1{
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

/* HEADER */

.container-hero{
    background-color: var(--background-color);
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem;
}

.customer-support{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.customer-support i{
    font-size: 3.3rem;
}

.content-customer-support{
    display: flex;
    flex-direction: column;
}

.container-logo{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.container-logo i{
    font-size: 3rem;
    color: #000;
}

.container-logo h1 a{
    text-decoration: none;
    color: #000;
    font-size: 3rem; 
    text-transform: uppercase; /* TODO EL TEXTO EN MAYÚSCULA*/
    letter-spacing: -1px; /* Espacio entre eletras*/
}

.container-user{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

/* User logo */
.container-user .bi-person-fill{
    font-size: 3rem;
    color: var(--primary-color);
    padding-right: 2.5rem;
    border-right: 1px solid #E2E2E2;
}

/* Shopping cart icon */
.container-user .bi-cart4{
    font-size: 4rem;
    color: var(--primary-color);
    padding-left: 1rem;
}


/* Agregar al resto de estilos*/
.cart-container {
    position: relative;
}
.buy-card {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 320px;
    background-color: var(--background-color);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    z-index: 1;
    padding: 1rem;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.25s ease;
}
.buy-card.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
.buy-card .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 1.4rem;
    list-style: none;
    border-bottom: solid thin #e1e1e1;
    padding-bottom: 0.8rem;
    margin-bottom: 1rem;
}
.buy-card .card li {
    flex: 1;
    text-align: center;
}
.buy-card button {
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease;
}
.buy-card button:hover {
    opacity: 0.9;
}



/* Shopping cart text */
.content-shopping-cart{
    display: flex;
    flex-direction: column;
}

/* NAVBAR */

.container-navbar{
    background-color: var(--primary-color);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
}

.navbar .bi-list-ul{
    display: none; /* Desaparece menu hamburgueza */
}

.navbar .bi-list{
    display: none; /* No mostrar menú en pantalla grande*/
}

.menu{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu li{
    list-style: none; /* Quitar estilo de lista */
    text-align: center;
}

.menu a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--dark-color);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.menu a::after{
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 50px;
    transform: translate(-50%, 50%); /* Centra */
    opacity: 0;
    transition: all 0.3s ease;
}

.menu a:hover::after{
    opacity: 1;
}

.menu a:hover{
    color: #fff;
}

/* BANNER */
.banner {
    width: 100%;
    background-image: url('/iconos/logo_jpg/logo_grande.jpg');
    height: 60rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; /* Posicionar contenido dentro */
}

/* MAIN CONTENT */
.main-content{
    background-color: var(--background-color);
}

/* FEATURES */
.container-features{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 3rem 0rem;
}

.card-feature{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #fff;
    border-radius: 1.5rem;
    padding: 1.5rem 0rem;
}

.card-feature i{
    font-size: 2.7rem;
    color: var(--primary-color);
}

.feature-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.feature-content span{
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--dark-color);
}

.feature-content p{
    color: #777;
    font-weight: 500;
}

/* CATEGORIES */

.top-categories{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-categories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.container-categories a{
    text-decoration: none;
    font-weight: 700;
    color: var(--background-color);
}
.card-category a:hover{
    color: var(--primary-color);
}


.card-category{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: 2rem; /* Separación entre elementos*/
}

/* Best categories (modify)*/

.category-1{
    background-image: linear-gradient(#00000030, #00000030), url('/imagenes/productos/dermocosmetica.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; /* no repetir imagen*/
}

.category-2{
    background-image: linear-gradient(#00000030, #00000030), url('/imagenes/productos/rebajas.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; /* no repetir imagen*/
}

.category-3{
    background-image: linear-gradient(#00000030, #00000030), url('/imagenes/productos/antigripal.avif');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; /* no repetir imagen*/
}

/* modify */
.card-category p{
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--background-color);
    text-transform: capitalize; /* Inicie con mayúscula*/
    position: relative;
}

.card-category p::after{
    content: '';
    width: 2.5rem;
    height: 2px;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%,50%);
}


/* modify */
.card-category span{
    font-size: 1.6rem;
    cursor: pointer;
}

/* TOP PRODUCTS */

.top-products{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-options{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.container-options span{
    color: #777;
    background-color: #fff;
    padding: 0.7rem 3rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    border-radius: 2rem;
    cursor: pointer;
}

/* Active (modify) */
.container-options span:hover{
    background-color: var(--primary-color);
    color: #fff;
}

.container-options span.active{
    background-color: var(--primary-color);
    color: #fff;
}

/* Products */
.container-products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr)); /* Revisar funcionamiento y documentación, ayuda a que sea responsivo*/
    gap: 3rem;
}

.card-product{
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 1.3rem;
    cursor: pointer;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1)
}

.container-img{
    position: relative;
}

.container-img img{
    width: 100%; 
}

.container-img .discount{
    position: absolute;
    left: 0px;
    background-color: var(--primary-color);
    color: #fff;
    padding: 2px 1.2rem; /* Mirar si es buena práctica convinar valores*/
    border-radius: 1rem;
    font-size: 1.2rem;
}

.card-product:hover .discount{
    background-color: #000;
}

.button-group{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 0px;
    right: -3rem;
    z-index: -1;    /* Se va al fondo de todo, todo se superpone sobre él */
    transition: all 0.4s ease;
}

.button-group span{
    border: 1px solid var(--primary-color);
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
}

.button-group span:hover{
    background-color: var(--primary-color);
}

.button-group span i{
    font-size: 1.5rem;
    color: var(--primary-color);
}

.button-group span:hover i{
    color: #fff;
}

.card-product:hover .button-group{
    z-index: 0;
    right: -1rem;
}

.content-card-product{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content); /* Revisar funcionamiento */
    row-gap: 1rem;  /* Revisar funcionamiento */
}

.content-card-product h3{
    grid-row: 2/3;
    grid-column: 1/-1;
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.content-card-product h3:hover{
    color: var(--primary-color);
}

.add-cart{
    justify-self: start;
    border: 2px solid var(--primary-color);
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-cart:hover{
    background-color: var(--primary-color);
}

.add-cart i{
    font-size: 1.5rem;
    color: var(--primary-color);
}

.add-cart:hover i{
    color: #fff;
}

.content-card-product .price{
    justify-self: end; /*Alinea elemento al final*/
    align-self: center;
    font-size: 1.7rem;
    font-weight: 600;
}

.content-card-product .price span{
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: line-through;  /* Tachado (promoción, precio antiguo)*/
    color: #777;
    margin-left: 0.5rem;
}

/* PROMOTIONS GALLERY */

.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* Revisar funcionamiento */
    grid-template-rows: repeat(2, 30rem);   /* Revisar funcionamiento */
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.gallery img{
    width: 100%;
    height: 100%;
    object-fit: center;   /* mirar funcionamiento*/
}

.gallery-img-1{
    grid-column: 2/4; /* Desde la columna 2 a la 4 */
    grid-row: 1/3;    /* Desde la fila 1 a la 3 */
}

/* NEW PRODUCTS */

.specials{
    display: flex;
    flex-direction: column;
    gap: 2rem; /* Separación */
    margin-bottom: 3rem; 
}

/* BLOGS */

.blogs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container-blogs{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.card-blog{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-blog .container-img{
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    pointer-events: none;
}

.button-group-blog{
    position: absolute;
    bottom: 1.5rem;
    right: -2.5rem;
    display: flex;
    gap: 0.7rem;
    z-index: -1; /* Ocultarlo y al dar hover sea visible*/
    transform: all 0.3s ease;
}

.card-blog:hover .button-group-blog{
    z-index: 0;
    right: 1.5rem;
}

.button-group-blog span{
    background-color: #fff;
    padding: 1.3rem;
    border-radius: 50%;
    transition: all 0.4 ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-group-blog span i{
    font-size: 1rem;
}

.button-group-blog span:hover{
    background-color: var(--primary-color);
}

.button-group-blog span:hover i{
    color: #fff;
}

.content-blog h3{
    font-size: 1.8rem;
    margin-bottom: 1.7rem;
    font-weight: 500;
}

.content-blog p{
    margin-top: 1rem;
    font-size: 1.4rem;
    color: #777;
}

.content-blog span{
    color: var(--primary-color);
    font-size: 1.3rem;
}

.btn-read-more a{
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
}

.btn-read-more{
    padding: 1rem 3rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    margin: 3rem 0rem 5rem;
    display: inline-block; /* Para que no ocupe todo el ancho del elemento*/
    cursor: pointer;
}

.btn-read-more:hover{
    background-color: var(--dark-color);
}

/* FOOTER */

.footer{
    background-color: var(--primary-color);
}

.container-footer{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 3rem;
}

/* División del footer en secciones */
.menu-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    justify-items: center;
}

.title-footer{
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.contact-info,
.information,
.my-account{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li{
    list-style: none; /* Quitar el punto*/
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
}

.information ul li a,
.my-account ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover{
    color: var(--dark-color);
}

.social-icons{
    display: flex;
    gap: 1.5rem;
}

.social-icons span{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons span i{
    color: #fff;
    font-size: 1.2rem;
}

.facebook{
    background-color: #3B5998;
}

.whatsapp{
    background-color: #25D366; 
}

.instagram{
    background: linear-gradient(
        45deg,
        #F58529, 
        #DD2A7B, 
        #8134AF, 
        #515BD4
        );
}

.copyright{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    border-top: 1px solid #D2B495;
}

.copyright p{
    font-weight: 400;
    font-size: 1.6rem;
}

/* RESPONSIVE */


/* Media queries - 768px */
@media (max-width: 768px){
    html{
        font-size: 55%;
    }

    .hero{
        padding: 2rem;
    }

    .customer-support{
        display: none;
    }

    .content-shopping-cart{
        display: none;
    }

    .banner {
        height: 40rem;
    }

    /* Funcionamiento despligue secciones */

    .navbar{
        padding: 1rem, 2rem;
        position: relative;
    }

    .navbar .bi-list-ul{
        display: block;
        color: #fff;
        font-size: 3rem;
        cursor: pointer;
    }

    .menu{
        display: none;
    }

    .container-features{
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem 2rem;
    }

    .card-feature{
        padding: 2rem;
    }

    .heading-1{
        font-size: 2.4rem;
    }

    .card-category{
        height: 12rem;
    }

    .card-category p{
        font-size: 2rem;
        text-align: center;
        line-height: 1;
    }

    .card-category span{
        font-size: 1.4rem;
    }

    .container-options{
        align-items: center;
    }

    .container-options span{
        text-align: center;
        padding: 1rem 2rem;
    }

    .container-products{
        grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    }

    .gallery{
        grid-template-rows: repeat(2, 15rem);
    }

    .container-blogs{
        grid-template-columns: repeat(2, 1fr);
    }

    .menu-footer{
        grid-template-columns: repeat(1, 1fr);
    }

    .container-footer {
    grid-template-columns: repeat(1, 1fr);
    }

    .copyright{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

        .navbar .bi-list-ul {
        display: block;
        font-size: 3rem;
        color: #fff;
        cursor: pointer;
    }

    /* Ocultar el menú por defecto en móviles */
    .menu {
        display: none;
        flex-direction: column;
        background-color: var(--primary-color);
        position: absolute;
        top: 7rem; /* debajo del navbar */
        left: 0;
        width: 100%;
        padding: 1rem 0;
        text-align: center;
        z-index: 100;
    }

    /* Mostrar el menú cuando se active */
    .menu.active {
        display: flex;
    }

    /* Ajuste opcional del buscador */
    .search-form {
        display: none;
    }

    /* Encabezado  */
    .heading-1 {
        font-size: 2.4rem;
        text-align: center;
        margin-bottom: 2rem;
    }

}


/* Media queries - 468px */
@media (max-width: 468px){

    html{
        font-size: 42.5%;
    }

    /* Logo más compacto */
    .container-logo h1 a {
        font-size: 2.2rem;
    }

    .container-logo i {
        font-size: 2.5rem;
    }

    /* Iconos de usuario más pequeños */
    .container-user .bi-person-fill,
    .container-user .bi-cart4 {
        font-size: 2.7rem;
        padding: 1rem;
    }

    .banner {
        height: 30rem;
    }

    .heading-1{
        font-size: 2.8rem;
    }

    .card-feature{
        flex-direction: column;
        border-radius: 2rem;
    }

    .feature-content{
        align-items: center;
    }

    .feature-content p{
        font-size: 1.4rem;
        text-align: center;
    }

    .feature-content span{
        font-size: 1.6rem;
        text-align: center;
    }

    .container-options span{
        font-size: 1.8rem;
        padding: 1rem 1.5rem;
        font-weight: 500;
    }

    .container-products{
        grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
        gap: 1rem;
    }

    .container-products {
        display: none;
    }

    .container-products.active {
        display: flex; /* o flex, según tu diseño */
    }

    .container-img .discount{
        font-size: 2rem;
    }

    .content-card-product h3{
        font-size: 2.2rem;
    }

    .gallery{
        grid-template-rows: repeat(2, 20rem);
    }

    .container-footer {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .blogs{
        padding: 2rem;
    }

    .container-blogs{
        grid-template-columns: 1fr;
    }

    .content-blog h3{
        font-size: 2.4rem;
    }

    .content-blog span{
        font-size: 1.8rem;
    }

    .content-blog p{
        font-size: 2.2rem;
    }

    .btn-read-more{
        font-size: 1.8rem;
    }

    .contact-info ul,
    .information ul,
    .my-account ul{
        display: block;
    margin-top: 1rem;
    }

    .contact-info{
        align-items: center;
    }

    .menu-footer{
        grid-template-columns: 1fr;
    }

    .content p{
        font-size: 1.65rem;
    }

}

/* Se agrega al final para asegurar prioridad sobre otros estilos similares */
/* El CSS se lee de arriba hacia abajo, así evitamos que otros bloques lo sobrescriban */

    .container-products {
        display: none;
    }

    .container-products.active {
        display: grid; 
    }

    .specials .container-products {
        display: grid;
    }



